@import 'variables';

body {
    background-color: $bg-color;

    h1 {
        font-family: 'Source Sans Pro';
        font-size: 5.625rem; /* 90px */
        display: inline-block;
        font-weight: bold;
        margin: 0;
        padding-left: 2.5rem; /* 40px */
    }
    .text-highlight {
        color: $text-green;
        padding-left: 1em;
        font-size: 5.25rem; /* 84px */
    }

    p {
        font-family: 'Source Sans Pro';
        font-size: 1.75rem; /* 28px */
        color: $p-text;
        max-width: 40.625rem; /* 650px */
    }
    @media (max-width: $min-xxl - 1) {
        h1 {
            font-size: 75px;
        }
        .text-highlight {
            font-size: 70px;
        }
        p {
            font-size: 22px;
        }
    }

    @media (max-width: $min-xl - 1) {
        h1 {
            font-size: 65px;
        }
        .text-highlight {
            font-size: 60px;
        }
        p {
            font-size: 18px;
        }
    }
    @media (max-width: $min-lg - 1) {
        h1 {
            font-size: 50px;
        }
        .text-highlight {
            font-size: 45px;
        }
        p {
            font-size: 16px;
        }
    }

    .price-banner {
        background-color: white;
        position: relative;
        z-index: 200;
        top: 1.875rem; /* 30px */
        left: calc(100% - 330px);
        max-width: 18.0625rem; /* 289px */
        border-radius: 0.75rem; /* 12px */
        box-shadow: -0.5rem 0.875rem 1.6875rem /* -8px 14px 27px */ rgba(0, 0, 0, 0.16);
        padding: 0.9375rem 1.25rem; /* 15px 20px */
        @media (max-width: $min-xxl - 1) {
            top: 60px;
            max-width: 200px;
            left: calc(100% - 230px);

        }
        @media (max-width: $min-xl - 1) {
            top: 100px;
            max-width: 150px;
            left: calc(100% - 185px);
        }
        h3 {
            font-family: 'Source Sans Pro';
            font-size: 2.375rem; /* 38px */
            font-weight: 600;
            margin: 0;
            color: $text-green;
            @media (max-width: $min-xxl - 1) {
                font-size: 30px;
            }
            @media (max-width: $min-xl - 1) {
                font-size: 24px;
            }
        }
        p {
            font-size: 2rem; /* 32px */
            margin: 0;
            color: black;
            @media (max-width: $min-xxl - 1) {
                font-size: 26px;
            }
            @media (max-width: $min-xl - 1) {
                font-size: 20px;
            }
        }
        hr {
            max-width: 10.625rem; /* 170px */
            margin-left: 0;
            color: $orange;
            border: 0.125rem /* 2px */ solid $orange;
            @media (max-width: $min-xxl - 1) {
                max-width: 120px;
            }
            @media (max-width: $min-xl - 1) {
                max-width: 70px;
            }
        }
    }
    .icons {
        position: relative;
        z-index: 100;
        flex-basis: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-bottom: 18.75rem; /* 300px */
        @media (max-width: $min-xxl - 1) {
            padding-bottom: 150px;
            align-items: flex-start;

        }
        @media (max-width: $min-xl - 1) {
            padding-bottom: 50px;
        }
        a {
            margin: 2.5rem 0; /* 40px */
            font-family: Fontawesome;
            color: black;
            padding: 0.625rem 0; /* 10px */
        }
        i {
            font-size: 1.625rem; /* 26px */
            width: 1.625rem; /* 26px */
            text-align: center;
            border: 0.0625rem /* 1px */ solid rgb(13, 146, 6, 0.79);
            border-radius: 3.125rem; /* 50px */
            padding: 1.0625rem; /* 17px */
            position: fixed;
            z-index: 300;
            @media (max-width: $min-xxl - 1) {
                font-size: 20px;
                width: 20px;
                padding: 14px;
            }
            @media (max-width: $min-xl - 1) {
                font-size: 16px;
                width: 16px;
                padding: 10px;
            }
        }
        i:hover {
            color: white;
            background: $hover-green;
        }
        &__social {
            position: fixed;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            @media (max-width: $min-lg - 1) {
                flex-direction: row;
                a {
                    margin: 0 30px;
                }
            }
            i:hover {
                text-align: start;
                width: 15rem; /* 240px */
                display: flex;
                justify-content: center;
                border: 0.0625rem /* 1px */ solid $hover-green;
                @media (max-width: $min-xxl - 1) {
                    width: 12rem;
                }
                @media (max-width: $min-xl - 1) {
                    width: 10rem;
                }
                &::after {
                    content: "This is some text";
                    padding-left: 0.9375rem; /* 15px */
                    font-size: 1.625rem; /* 26px */
                    font-family: 'source sans pro';
                    font-weight: 400;
                    padding-right: 1.25rem; /* 20px */
                    @media (max-width: $min-xxl - 1) {
                        font-size: 20px;
                    }
                    @media (max-width: $min-xl - 1) {
                        font-size: 16px;
                    }
                }
            }
        }
        &__scroll {
            @media (max-width: $min-lg - 1) {
                display: none;
            }
            i {
                bottom: 5rem; /* 80px */
                border: none;
                color: $hover-green;
                box-shadow : 0rem 0.4375rem 1.25rem /* 0px 7px 20px */ rgba(0,0,0,0.27);
            }
            &--btn:after {
                content: "More Short Tips";
                padding-left: 3.75rem; /* 60px */
                position: fixed;
                left: 5rem; /* 80px */
                bottom: calc(80px + 13px);
                font-family: 'source sans pro';
                font-size: 1.625rem; /* 26px */
                color: $hover-green;
                @media (max-width: $min-xxl - 1) {
                    font-size: 20px;
                    padding-left: 30px;
                }
                @media (max-width: $min-xl - 1) {
                    font-size: 16px;
                    padding-left: 15px;
                }
            }
        }

    }
    .hero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: $min-lg - 1) {
            flex-direction: column;
            overflow-x: hidden;
        }
        @media (max-width: $min-xl - 1) {
        }

        &__images {
            position: relative;
            @media (max-width: $min-xxl - 1) {
            }
            @media (max-width: $min-xl - 1) {
            }
            @media (max-width: $min-lg - 1) {
                margin-top: - 50px;
            }
            @media (max-width: $min-md - 1) {
                margin-top: - 120px;
            }
            @media (max-width: $min-sm - 1) {
                margin-top: - 100px;
            }

            svg {
                max-width: 100%;
                position: absolute;
            }

            .main-img {
                z-index: 10;
            }

            .shadow-1 {
                z-index: 1;
                transform: rotate(54deg) scale(1.032);
            }

            .shadow-2 {
                z-index: 5;
                transform: rotate(15deg) scale(1.032);
            }
        }

        .col2 {
            box-sizing: border-box;
            flex-basis: 50%;
            overflow-x: hidden;
            padding-top: 3.125rem; /* 50px */
            @media (max-width: $min-lg - 1) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                h1 {
                    flex-basis: 50%;
                    box-sizing: border-box;
                    padding-left: 0;
                }
            }
            @media (max-width: $min-sm - 1) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                h1 {
                    flex-basis: 100%;
                }
            }

        }
        .col1 {
            box-sizing: border-box;
            flex-basis: 45%;
            padding-top: 3.125rem; /* 50px */
            @media (max-width: $min-xxl - 1) {
            }
            @media (max-width: $min-xl - 1) {
            }
            @media (max-width: $min-lg - 1) {
                min-height: 800px;
                padding-top: 0px;
            }
            @media (max-width: $min-md - 1) {
                min-height: 600px;
            }
            @media (max-width: $min-sm - 1) {
                min-height: 530px;
            }
        }


        .cta {
            border-left: 0.25rem /* 4px */ solid $text-green;
            padding-left: 2.5rem; /* 40px */
            margin-bottom: 3.125rem; /* 50px */
            box-sizing: border-box;
            @media (max-width: $min-lg - 1) {
                flex-basis: 50%;
                flex-grow: 0;
            }
            @media (max-width: $min-sm - 1) {
                flex-basis: 100%;
            }
            a {
                font-family: 'Source Sans Pro';
                font-weight: regular;
                font-size: 1.6875rem; /* 27px */
                text-decoration: none;
                background-color: $orange;
                padding: 0.625rem 1.5625rem; /* 10px 25px */
                color: $bg-color;
                display: inline-block;
                @media (max-width: $min-xxl - 1) {
                    font-size: 23px;
                }
                @media (max-width: $min-xl - 1) {
                    font-size: 18px;
                }


                &:hover{
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                }
                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
    .slider {
        display: flex;
        flex-wrap: nowrap;
        column-count: 3;
        flex-direction: row;
        justify-content: space-between;
        z-index: 200;
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin-left: -0.25rem; /* -4px */
        position: relative;
        @media (max-width: $min-lg - 1) {
            flex-basis: 100%;
            flex-shrink: 0;
        }
        img {
            max-width: 100%;
        }
        &--controll {
            position: absolute;
            bottom: 0.625rem; /* 10px */
            right: 3.75rem; /* 60px */
            p {
                background-color: rgba(255, 255, 255, 0.79);
                font-size: 1.625rem; /* 26px */
                color: $text-green;
                display: inline-block;
                text-align: center;
                border-radius: 3.125rem; /* 50px */
                padding: 0.875rem 1.25rem; /* 14px 20px */
                margin-right: 0.625rem; /* 10px */
                @media (max-width: $min-xxl - 1) {
                    font-size: 20px;
                    padding: 12px 20px;
                }
                @media (max-width: $min-xl - 1) {
                    font-size: 16px;
                    padding: 8px 20px;
                }
    
            }
            a {
                margin: 1.875rem 0; /* 30px */
                font-family: Fontawesome;
                color: $text-green;
                padding: 0.625rem 0; /* 10px */
            }
            i {
                font-size: 1.625rem; /* 26px */
                width: 1.625rem; /* 26px */
                text-align: center;
                border-radius: 3.125rem; /* 50px */
                padding: 1.0625rem; /* 17px */
                display: inline-block;
                z-index: 300;
                transform: rotate(-90deg);
                background-color: rgba(255, 255, 255, 0.79);
                @media (max-width: $min-xxl - 1) {
                    font-size: 20px;
                    width: 20px;
                    padding: 14px;
                }
                @media (max-width: $min-xl - 1) {
                    font-size: 16px;
                    width: 16px;
                    padding: 10px;
                }
    
            }
            i:hover {
                color: white;
                background: $hover-green;
            }
            
        }
        
    }
}
