//colors
$bg-color: #fff;
$text-green: #0D9206;
$orange:#FF8800;
$hover-green: #789376;
$p-text: #7D7D7D;

//breakpoints

$min-xxl: 1440px;

$min-xl: 1200px;

$min-lg: 992px;

$min-md: 778px;

$min-sm: 568px;
